
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-lgray: #5A91C4;
    --color-ddgray: #061321;
    --color-lblue: #63ADF2;
    --color-llblue: #2ac1ef;
    --color-dblue: #063a7a;
    --color-salmon: #ff6467;
    --color-white: #eee;
    --shadow-custom: 0 0px 10px 0px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    --color-black: #2c2c2c;
    --color-bgD: #061321;
    --color-bgL: #063a7a;
    --breakpoint-xmd: 1200px;
    --font-h1: "Bebas Neue", sans-serif;
    --font-h3: "Merriweather", serif;
    --font-p: "Source Serif 4", serif;
}

.bg-theme {
  @apply bg-[url('/assets/LightBackground.svg')] dark:bg-[url('/assets/DarkBackground.svg')] h-[1500px] bg-center md:bg-cover transition-all duration-300
}

.bg-theme2 {
  @apply bg-[url('/assets/LightBackground.svg')] dark:bg-[url('/assets/DarkBackground.svg')] h-[1950px] bg-center md:bg-cover transition-all duration-300
}

.text-gradient-theme {
  @apply bg-gradient-to-t from-indigo-500 to-sky-500 dark:bg-gradient-to-t dark:from-[#9F3A51] dark:to-[#563F74] bg-clip-text text-transparent;
}



/* bg-gradient-to-tr from-amber-100 via-lime-50 to-emerald-100 */
/* dark:bg-gradient-to-tr dark:from-indigo-500 dark:via-indigo-600 dark:to-sky-500 */