@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-lgray: #A7CCED;
    --color-gray: #7A9CB8;
    --color-dgray: #545E75;
    --color-ddgray: #1e2939;
    --color-lblue: #63ADF2;
    --color-llblue: #2ac1ef;
    --color-dblue: #304D6D;
    --color-bgD: #050f1b;
    --color-bgL: #596c90;
    --breakpoint-xmd: 1200px;
    --font-h1: "Bebas Neue", sans-serif;
    --font-h3: "Merriweather", serif;
    --font-p: "Source Serif 4", serif;
}

.bg-theme {
  @apply bg-[url('/assets/lightModeBg_2k.png')] h-[1440px] bg-cover transition-all duration-300 dark:bg-[url('/assets/darkModeBg_2k.png')];
}